<html>
<head>
	<title>Hello Facebook</title>
</head>
<body>

<form id="facebookLogin" action="/connect/facebook" method="POST">
	<input type="hidden" name="scope" value="public_profile"/>
	<input type="button" value="페북 로그인" onclick="javascript:popup(this.form);"/>
</form>

</body>

<script type="text/javascript">
	function popup(frm) {
		var url = "connect/facebook";
		var title = "페이스북";
		var status = "scrollbars=no, status=no;";
		window.open("", title, status); //window.open(url,title,status); window.open 함수에 url을 앞에와 같이
		frm.target = title;                    //form.target 이 부분이 빠지면 form값 전송이 되지 않습니다.
		frm.action = url;                    //form.action 이 부분이 빠지면 action값을 찾지 못해서 제대로 된 팝업이 뜨질 않습니다.
		frm.method = "post";
		frm.submit();
	}
</script>
</html>